@import '../../variables.scss';

.todo {
    position: absolute;
    width: 60%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    background: rgb(201, 211, 234);
    box-shadow: 8px 13px 15px #a9a8ab;
    border-radius: 5px;

    &-form {
        display: flex;
        justify-content: space-between;
        height: 50px;
        width: 100%;
        padding: 5px 0;

        &__btn {
            border: 1px solid rgb(99, 99, 255);
            background: rgb(159, 159, 255);
            padding: 5px;
        }
    }
    
    &-items {
        width: 100%;
        height: 80%;
        overflow: hidden;
        border: 1px solid $border-color-form;
        border-radius: 5px;
    }

    &-item-counter {
        position: absolute;
        right: 15px;
        bottom: 5px;
    }
}