<div class="todo">
    <h1>Todo app</h1>
    <form 
        [formGroup]="newItemForm" 
        class="todo-form"
        (ngSubmit)="addItem()"
    >
        <input type="text" placeholder="Name" formControlName="name">
        <input type="text" placeholder="Description" formControlName="description">
        <button type="submit" [disabled]="!newItemForm.valid" class="todo-form__btn">Add new item</button>
    </form>
    <app-search-form (searchFormValues)="chooseSortAndFilterType($event)"></app-search-form>
    <div class="todo-items">
        <app-card *ngFor="let item of (items$ | async)! | sort: searchFormValues.sort | filter: searchFormValues.filter | search: searchFormValues.search" [item]="item"></app-card>
    </div>
    <div class="todo-buttons">
        <app-button title="Remove all done" (click)="removeAllDone()"></app-button>
        <app-button title="Check all like done" (click)="changeStatusAll()"></app-button>
        <app-button title="Remove all with pause" (click)="removeAll()"></app-button>
    </div>
    <span class="todo-item-counter">all items: {{ (items$ | async)?.length }}</span>
</div>
