button {
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 10px;
}

.standard {
    border-color: rgb(92, 232, 76);
    background: rgb(158, 249, 144);
}

.remove {
    background:rgb(232, 76, 76);
    border-color: rgb(232, 76, 76);
}